<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
  </head>

  <body style="<%= "margin-left: 200px;" if user_signed_in? %>">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark standart_navbar">
          <a class="navbar-brand" href="/films">Salut à tous</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              
            </ul>

            <ul class="navbar-nav navbar-right">
              <% if user_signed_in? %>
                <span class="navbar-text">
                  <%= link_to  current_user.name, edit_user_path(current_user.id) %>
                </span>
                <li class="nav-item <%= "active" if params[:controller] == "users" %>">
                  <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>
                </li>              
              <% else %>
                <li class="nav-item <%= "active" if params[:controller] == "users" %>">
                  <a class="nav-link" href="/users/sign_up">Sign Up</a>
                </li>
                <li class="nav-item <%= "active" if params[:controller] == "users" %>">
                  <a class="nav-link" href="/users/sign_in">Login</a>
                </li>
              <% end %>
            </ul>
          </div>
    </nav>
  
    <% if user_signed_in? %>
    <%
=begin%>
  pour les icones
  https://iconify.design/icon-sets/feather/
<%
=end%>
      <nav id="sidebarMenu" class="col-md-3 col-lg-1 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                Home <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/films">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="2" y="2" width="20" height="20" rx="2.18" ry="2.18"/><path d="M7 2v20"/><path d="M17 2v20"/><path d="M2 12h20"/><path d="M2 7h5"/><path d="M2 17h5"/><path d="M17 17h5"/><path d="M17 7h5"/></></svg>
                Films
              </a>
            </li>
            <% if user_signed_in? %>
            <li class="nav-item">
              <a class="nav-link" href="/users">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="2" y="2" width="20" height="20" rx="2.18" ry="2.18"/><path d="M7 2v20"/><path d="M17 2v20"/><path d="M2 12h20"/><path d="M2 7h5"/><path d="M2 17h5"/><path d="M17 17h5"/><path d="M17 7h5"/></></svg>
                Utilisateurs
              </a>
            </li>
            <% end %>
          </ul>
        </div>
      </nav>
    <% end %>

    <% if notice %>
      <div class="alert alert-primary" role="alert">
        <%= notice %> 
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger" role="alert">
        <%= alert %> 
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
