<p>
  <strong><%= t('film.title') %>:</strong>
  <%= @film.titre %>
</p>

<p>
  <strong><%= t('film.director') %>:</strong>
  <%= @film.realisateur %>
</p>
<% if (!current_user.nil?) && (current_user.has_role? "admin") %>
  <%= link_to t('page.edit'), edit_film_path(@film) %> |
<% end %>
<%= link_to t('page.back'), films_path %>
